<div class="container">
  {{#each result}}
    <div class="bhajans">
      <a href="/bhajanlyrics/{{name}}"><h5>{{name}}</h5></a> 
      {{!-- <p>DEBUG: {{name}}</p> --}}
    </div>
  {{/each}}
</div>