<div class="container">
  {{#each result}}
    <div class="bhajans">
        {{{name}}}
      {{!-- <a href="{{link}}"></a> --}}
       <a href="{{link}}" target="_blank"> यूट्यूब पर देखिए</a>
    </div>
  {{/each}}
</div>